<%=
  render(
    partial: 'common',
    locals: {
      page_schema: page_schema,
      navigation: navigation
    }
  )
%>

<div class="grid-row child-topic-contents">
  <div class="column-two-thirds">
    <div class="topic-content">

      <div data-module="accordion-with-descriptions" class="js-hidden">
        <div class="subsection-wrapper">

          <% page_schema.links.ordered_steps.each_with_index do |step, index| %>
            <div class="subsection js-subsection" id="index-<%= index %>" data-track-count="accordionSection">
              <div class="subsection-header js-subsection-header">
                <h2 class="subsection-title js-subsection-title"><%= "#{index + 1 }. #{step.title}" %></h2>
                <p class="subsection-description"><%= step.description %></p>
              </div>

              <div class="subsection-content js-subsection-content" id="subsection_content_<%= index + 1 %>">
                <ul class="subsection-list">
                  <% step.links.ordered_tasks.each_with_index do |task, index| %>
                    <li class="subsection-list-item">
                      <%= link_to(task.title, task.base_path || task.external_link) %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="column-third">
    <%= render partial: 'govuk_component/related_items', locals: navigation.related_items %>
  </div>
</div>
