<%=
  render(
    partial: 'common',
    locals: {
      presented_taxon: ""
    }
  )
%>

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="high-volume">
      <h2>Most viewed in this topic</h2>
      <ol>
          <li><%= link_to("title", "base_path") %></li>
          <li><%= link_to("title", "base_path") %></li>
      </ol>
    </div>
  </div>
</div>


<div class="grid-row child-topic-contents">
  <div class="column-two-thirds">
    <div class="topic-content">

      <div data-module="accordion-with-descriptions" class="js-hidden">
        <div class="subsection-wrapper">

          <% @page_schema.steps.each_with_index do |step, index| %>
            <div class="subsection js-subsection" id="index-<%= index %>" data-track-count="accordionSection">
              <div class="subsection-header js-subsection-header">
                <h2 class="subsection-title js-subsection-title"><%= step.title %></h2>
                <p class="subsection-description"><%= step.description %></p>
              </div>

              <div class="subsection-content js-subsection-content" id="subsection_content_<%= index + 1 %>">
                <ol class="subsection-list">
                  <% step.links.each_with_index do |link, index| %>
                    <li class="subsection-list-item">
                      <%= link_to(link.title, link.url) %>

                      <p><%= link.description %></p>
                    </li>
                  <% end %>
                </ol>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
