<% content_for :page_class, "taxon-page" %>

<%= render partial: 'govuk_component/breadcrumbs',
    locals: {
        breadcrumbs: navigation_helpers.taxon_breadcrumbs[:breadcrumbs],
        collapse_on_mobile: true
    } %>

<%= render partial: 'page_header', locals: { taxon: taxon } %>

<% if accordion_content.present? %>
  <div class="grid-row child-topic-contents">
    <div class="column-two-thirds">
      <div class="topic-content">

        <div data-module="accordion-with-descriptions" class="js-hidden">
          <div class="subsection-wrapper">

            <% accordion_content.each_with_index do |taxon, index| %>
              <div class="subsection js-subsection" id="<%= taxon.base_path %>">
                <div class="subsection-header js-subsection-header">
                  <h2 class="subsection-title js-subsection-title"><%= taxon.title %></h2>
                  <% if taxon.description.present? %>
                    <p class="subsection-description"><%= taxon.description %></p>
                  <% end %>
                </div>

                <% if taxon.base_path == "/education/current-funding-schemes" %>
                  <div class="subsection-content js-subsection-content" id="subsection_content_<%= index + 1 %>">
                    <h3>Condition Improvement Fund</h3>
                    <ul class="subsection-list">
                      <li class="subsection-list-item">
                        <a href="/guidance/condition-improvement-fund">Condition Improvement Fund</a>

                        <p>Information for academies and sixth-form colleges about the Condition Improvement Fund (CIF) </p>
                      </li>
                      <li class="subsection-list-item">
                        <a href="/government/publications/condition-improvement-fund-cif-outcome-of-appeals-2016-to-2017">Condition Improvement Fund (CIF): outcome of appeals 2016 to 2017</a>

                        <p>This page contains the list of successful appeals for CIF 2016 to 2017 and information for those with unsuccessful projects</p>
                      </li>
                      <li class="subsection-list-item">
                        <a href="/government/publications/condition-improvement-fund-2015-to-2016-outcome">Condition Improvement Fund: 2015 to 2016 outcome</a>

                        <p>Information about the outcome of the Condition Improvement Fund (CIF) 2015 to 2016.</p>
                      </li>
                      <li class="subsection-list-item">
                        <a href="/government/publications/condition-improvement-fund-2016-to-2017-outcome">Condition Improvement Fund: 2016 to 2017 outcome</a>

                        <p>Information for schools and sixth-form colleges about the outcome of the Condition Improvement Fund (CIF) 2016 to 2017.</p>
                      </li>
                      <li class="subsection-list-item">
                        <a href="/government/publications/condition-improvement-fund-2017-to-2018-outcome">Condition Improvement Fund: 2017 to 2018 outcome</a>

                        <p>Information for schools and sixth-form colleges about the outcome of the Condition Improvement Fund (CIF) 2017 to 2018 round</p>
                      </li>
                    </ul>

                    <h3>Early Years Capital Fund</h3>
                    <ul class="subsection-list">
                      <li class="subsection-list-item">
                        <a href="/guidance/early-years-capital-fund-2017">Early Years Capital Fund</a>

                        <p>Information for local authorities about the outcomes from the Early Years Capital Fund bidding round</p>
                      </li>
                      <li class="subsection-list-item">
                        <a href="/guidance/early-years-capital-funding-application-round">Early Years Capital Funding Application Round</a>

                        <p>The application window opened on 21 June for local authorities to bid for capital funding to support delivery of 30 hours free childcare. </p>
                      </li>
                      <li class="subsection-list-item">
                        <a href="/government/publications/early-years-capital-funding-call-for-expressions-of-interest">Early years capital funding: call for expressions of interest</a>

                        <p>Call for expression of interest (EOI) from local authorities for capital bidding process to support delivery of 30 hours free childcare. </p>
                      </li>
                    </ul>

                    <h3>Overview of available capital funding</h3>
                    <ul class="subsection-list">
                      <li class="subsection-list-item">
                        <a href="/guidance/academies-capital-funding-and-support">Academies capital funding and support</a>

                        <p>Information about capital funding programmes and support for single and multi-academy trusts.</p>
                      </li>
                      <li class="subsection-list-item">
                        <a href="/guidance/capital-funding-for-multi-academy-trusts-mats">Capital funding for multi-academy trusts (MATs)</a>

                        <p>Information for multi-academy trusts (MATs) and other groups of academies that receive a capital funding allocation.</p>
                      </li>
                      <li class="subsection-list-item">
                        <a href="/government/publications/capital-allocations">School capital funding allocations: 2015 to 2018</a>

                        <p>School condition allocations (SCA) and devolved formula capital (DFC) allocations for 2015 to 2018. </p>
                      </li>
                    </ul>

                    <h3>Priority School Building Programme</h3>
                    <ul class="subsection-list">
                      <li class="subsection-list-item">
                        <a href="/government/collections/priority-school-building-programme-psbp">Priority School Building Programme (PSBP)</a>

                        <p>The Priority School Building Programme (PSBP) is addressing the needs of schools most in need of urgent repair.</p>
                      </li>
                      <li class="subsection-list-item">
                        <a href="/government/publications/priority-school-building-programme-2-psbp2">Priority School Building Programme 2 (PSBP2)</a>

                        <p>This page contains information on PSBP2 including guidance for applicants.</p>
                      </li>
                    </ul>

                    <h3>Other funding</h3>
                    <ul class="subsection-list">
                      <li class="subsection-list-item">
                        <a href="/guidance/voluntary-aided-schools-capital-funding">Voluntary-aided schools: capital funding</a>

                        <p>Information for voluntary-aided schools about capital funding, including relevant forms.</p>
                      </li>
                      <li class="subsection-list-item">
                        <a href="/guidance/condition-spend-data-collection-csdc-user-guide">Condition Spend Data Collection – (CSDC) user guide</a>

                        <p>Guidance on submitting a School Condition Allocation (SCA) spend data return for local authorities.</p>
                      </li>
                    </ul>
                  </div>
                <% else %>
                  <div class="subsection-content js-subsection-content" id="subsection_content_<%= index + 1 %>">
                    <% unless taxon.has_tagged_content %>
                      <%= render partial: 'email_alerts', locals: { taxon: taxon } %>
                    <% end %>
                    <%= render partial: 'content_list_for_child_taxon', locals: {
                        section_index: index,
                        tagged_content: taxon.tagged_content,
                    } %>
                  </div>
                <% end %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
