<ol class="task-list__list">
  <li class="task-list__group <% if on_civil_step(1, on_sidebar) %>task-list__group--active<% end %>">
    <span class="task-list__number">
      <span class="visuallyhidden">Step</span> 1
    </span>

    <div class="task-list__step js-step" id="check-if-you-can-end-your-civil-partnership">
      <div class="task-list__header js-toggle-panel">
        <h2 class="task-list__title js-step-title">
          <% if on_sidebar %>
            <a href="/services/end-a-civil-partnership" class="task-list__header-link">Check if you can end your civil partnership</a>
          <% else %>
            Check if you can end your civil partnership
          <% end %>
        </h2>
      </div>

      <% if on_civil_step(1) %>
        <div class="task-list__panel js-panel">
          <%= render 'partials/civilpartnership_step1' %>
        </div>
      <% end %>
    </div>
  </li>

  <li class="task-list__group <% if on_civil_step(2, on_sidebar) %>task-list__group--active<% end %>">
    <span class="task-list__number">
      <span class="visuallyhidden">Step</span> 2
    </span>

    <div class="task-list__step task-list__step--optional js-step" id="make-arrangements-for-your-children-money-and-property">
      <div class="task-list__header js-toggle-panel">
        <h2 class="task-list__title js-step-title">
          <% if on_sidebar %>
            <a href="/services/end-a-civil-partnership" class="task-list__header-link">Make arrangements for your children, money and property</a>
          <% else %>
            Make arrangements for your children, money and property
          <% end %>
        </h2>
      </div>

      <% if on_civil_step(2) %>
        <div class="task-list__panel js-panel">
          <%= render 'partials/civilpartnership_step2' %>
        </div>
      <% end %>
    </div>
  </li>

  <li class="task-list__group <% if on_civil_step(3, on_sidebar) %>task-list__group--active<% end %>">
    <span class="task-list__number">
      <span class="visuallyhidden">Step</span> 3
    </span>

    <div class="task-list__step js-step" id="file-an-application">
      <div class="task-list__header js-toggle-panel">
        <h2 class="task-list__title js-step-title">
          <% if on_sidebar %>
            <a href="/services/end-a-civil-partnership" class="task-list__header-link">File an application</a>
          <% else %>
            File an application
          <% end %>
        </h2>
      </div>

      <% if on_civil_step(3) %>
        <div class="task-list__panel js-panel">
          <%= render 'partials/civilpartnership_step3' %>
        </div>
      <% end %>
    </div>
  </li>

  <li class="task-list__group <% if on_civil_step(4, on_sidebar) %>task-list__group--active<% end %>">
    <span class="task-list__number">
      <span class="visuallyhidden">Step</span> 4
    </span>

    <div class="task-list__step js-step" id="send-the-court-more-details-about-ending-your-civil-partnership">
      <div class="task-list__header js-toggle-panel">
        <h2 class="task-list__title js-step-title">
          <% if on_sidebar %>
            <a href="/services/end-a-civil-partnership" class="task-list__header-link">Send the court more details about ending your civil partnership</a>
          <% else %>
            Send the court more details about ending your civil partnership
          <% end %>
        </h2>
      </div>

      <% if on_civil_step(4) %>
        <div class="task-list__panel js-panel">
          <%= render 'partials/civilpartnership_step4' %>
        </div>
      <% end %>
    </div>
  </li>

  <li class="task-list__group <% if on_civil_step(5, on_sidebar) %>task-list__group--active<% end %>">
    <span class="task-list__number">
      <span class="visuallyhidden">Step</span> 5
    </span>

    <div class="task-list__step js-step" id="apply-for-a-final-order">
      <div class="task-list__header js-toggle-panel">
        <h2 class="task-list__title js-step-title">
          <% if on_sidebar %>
            <a href="/services/end-a-civil-partnership" class="task-list__header-link">Apply for a final order</a>
          <% else %>
            Apply for a final order
          <% end %>
        </h2>
      </div>

      <% if on_civil_step(5) %>
        <div class="task-list__panel js-panel">
          <%= render 'partials/civilpartnership_step5' %>
        </div>
      <% end %>
    </div>
  </li>
</ol>
