<div class="child-topic-contents taxon-page">
  <div class="task-list sidebar">
    <div data-module="accordion-with-descriptions">
      <h2>
        <%= link_to(page_schema.title, page_schema.base_path) %>
      </h2>
      <div class="subsection-wrapper">
        <%
          page_schema.links.ordered_steps.each_with_index do |group, index|
            last_loop_index = nil
        %>
            <%
              group.each_with_index do |step, step_index|
                ordered_tasks = step.links.ordered_tasks
                expandable = true if (ordered_tasks.length > 0) || step.description
                show_number = true if index != last_loop_index
                border = true
            %>
              <div class="subsection subsection-border
                  <% if (index + 1) == page_schema.links.ordered_steps.size %>last-child<% end %> <%= expandable ? "js-subsection" : "subsection-no-expand" %>
                  <% if highlight_sidebar_step?(ordered_tasks) %>subsection-title-highlight<% end %>"
                    id="index-<%= "#{index}-#{step_index}" %>"
                    data-track-count="accordionSection">
                <% if index > 0 %>
                  <div class="subsection-smaller-border"></div>
                <% end %>
                <% if step_index == 1 && border ; border = false %>
                <% end %>
                <div class="subsection-header js-subsection-header ">
                  <span class="subsection-title <% if expandable %>js-subsection-title<% end %>">
                    <% if show_number %>
                      <span class="subsection-number"><%= "#{index + 1 }" %></span>
                    <% end %>
                    <%= step.title %>
                  </span>
                </div>

                <% if expandable %>
                  <div class="subsection-content js-subsection-content" id="subsection_content_<%= "#{index}-#{step_index}" %>">
                    <% if step.description.length > 0 %>
                      <p class="subsection-description"><%= step.description %></p>
                    <% end %>
                    <ul class="subsection-list">
                      <% ordered_tasks.each_with_index do |task, index| %>
                        <li class="subsection-list-item">
                          <% if request.path == task.base_path %>
                            <a href="#global-header" class="current-highlight"><%= task.title %></a>
                          <% else %>
                            <%= link_to(task.title, task.base_path || task.external_link) %>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              </div>

              <%
                last_loop_index = index
              %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
