<div class="grid-row sidebar child-topic-contents">
  <div class="column-two-thirds child-topic-contents taxon-page">
    <div class="topic-content">
      <div data-module="govuk-sidebar" class="nav-task-list">
        <div class="subsection-wrapper">
          <% page_schema.links.ordered_steps.each_with_index do |group, index| %>
            <% last_loop_index = nil %>
            <div class="subsection-border">
              <% group.each_with_index do |step, step_index| %>
                <%
                  expandable = true if (step.links.ordered_tasks.length > 0) || step.description
                  show_number = true if index != last_loop_index
                  border = true
                %>
                <div class="subsection <%= expandable ? "js-subsection" : "subsection-no-expand" %>"
                      id="index-<%= "#{index}-#{step_index}" %>"
                      data-track-count="accordionSection">
                  <% if step_index == 1 && border ; border = false %>
                    <div class="subsection-smaller-border"></div>
                  <% end %>
                  <div class="subsection-header js-subsection-header">
                    <h6 class="subsection-title <% if expandable %>js-subsection-title<% end %>">
                      <% if show_number %>
                        <span class="subsection-number"><%= "#{index + 1 }" %></span>
                      <% end %>
                      <%= step.title %>
                    </h6>
                  </div>

                  <% if expandable %>
                    <div class="subsection-content js-subsection-content" id="subsection_content_<%= "#{index}-#{step_index}" %>">
                      <div class="subsection-active-border">
                        <p class="subsection-description"><%= step.description %></p>
                        <ul class="subsection-list">
                          <% step.links.ordered_tasks.each_with_index do |task, index| %>
                            <li class="subsection-list-item">
                              <% if request.path == task.base_path %>
                                <strong><%= task.title %></strong>
                              <% else %>
                                <%= link_to(task.title, task.base_path || task.external_link) %>
                              <% end %>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>
                </div>

                <% last_loop_index = index %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
