<% content_for :head do %>
  <%= stylesheet_links_html %>
<% end %>

<% content_for :page_type do %>
  <%= page_type %>
<% end %>

<%= render partial: 'govuk_component/breadcrumbs',
    locals: {
        breadcrumbs: breadcrumbs,
        collapse_on_mobile: true
    } %>

<main <%= main_attributes %>>
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="<%= @page_schema.base_path %>#index-<%=current_step_number %>-<%=current_task_number %>" style="background-color: #eee">
        Part of Learning to drive: step by step
      </a>

      <%= content_html %>
    </div>
    <div class="column-third add-title-margin">
      <% if show_task_nav?(base_path: params[:base_path]) %>
        <%= render partial: "sidebar", locals: {
          page_schema: @page_schema,
          current_step_number: current_step_number,
          current_task_number: current_task_number,
         } %>
       <% else %>
         <%= render partial: 'govuk_component/taxonomy_sidebar', locals: taxonomy_sidebar %>
      <% end %>
    </div>
  </div>
</main>
