<% content_for :head do %>
  <%= stylesheet_links_html %>
<% end %>

<% content_for :page_type do %>
  <%= page_type %>
<% end %>

<%= render partial: 'govuk_component/breadcrumbs',
    locals: {
        breadcrumbs: breadcrumbs,
        collapse_on_mobile: true
    } %>

<% page_schema = @page_schema %>

<main <%= main_attributes %>>
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= content_html %>
    </div>
    <div class="column-third add-title-margin">
      <%= render partial: 'govuk_component/taxonomy_sidebar', locals: taxonomy_sidebar %>
    </div>
  </div>
  <% if override_sidebar?(base_path: params[:base_path]) %>
    <div class="grid-row">
      <div class="column-two-thirds js-stick-at-top-when-scrolling slidy-fixed slidy-nav">
          How to become a childminder: <%= current_step_title %> &#9660;
      </div>
    </div>
    <div class="grid-row js-slidy-stick">
    </div>
    <div class="grid-row child-topic-contents">
      <%= render partial: "full_task_nav", locals: { page_schema: @page_schema } %>
    </div>
  <% end %>
</main>
