<% content_for :head do %>
  <%= stylesheet_links_html %>
<% end %>

<% content_for :page_type do %>
  <%= page_type %>
<% end %>

<%= render partial: 'govuk_component/breadcrumbs',
    locals: {
        breadcrumbs: breadcrumbs,
        collapse_on_mobile: true
    } %>

<main <%= main_attributes %>>
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= content_html %>
    </div>
    <div class="column-third add-title-margin">
      <% if true %>
        <aside class="govuk-taxonomy-sidebar">
          <div class="sidebar-taxon">
            <h2 class="task-list-navigation-heading">
              <a href="#" class="taxon-link">Becoming a childminder</a>
            </h2>
            <ol class="task-list-navigation">
              <li>
                <a href="#">Check you're allowed to drive</a>
              </li>
              <li>
                <a href="#">Get a provisional driving licence</a>
                <a href="#">Book a lesson</a>
              </li>
              <li>
                <a href="#">Driving lessons and practice</a>
              </li>
              <li class="highlighted">
                <a href="#">Prepare for your theory test</a>
              </li>
              <li>
                <a href="#">Book and manage your theory test</a>
              </li>
              <li>
                <a href="#">Book and manage your driving test</a>
              </li>
              <li>
                <a href="#">When you pass</a>
              </li>
            </ol>
          </div>
        </aside>
      <% else %>
        <%= render partial: 'govuk_component/taxonomy_sidebar', locals: taxonomy_sidebar %>
      <% end %>
    </div>
  </div>
</main>
