<% content_for :head do %>
  <%= stylesheet_links_html %>
<% end %>

<% content_for :page_type do %>
  <%= page_type %>
<% end %>

<% if override_sidebar %>
  <%= render partial: 'sticky_nav', locals: { page_schema: @page_schema } %>
<% else %>
  <%= render partial: 'govuk_component/breadcrumbs',
      locals: {
          breadcrumbs: breadcrumbs,
          collapse_on_mobile: true
      } %>
<% end %>

<% if get_tasklist == 'divorce' %>
  <%= render 'partials/tasklist-header-divorce' %>
<% elsif get_tasklist == 'civil' %>
  <%= render 'partials/tasklist-header-civil' %>
<% end %>

<main <%= main_attributes %>>
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= content_html %>
    </div>
    <div class="column-third">
      <% if get_tasklist == 'divorce' %>
        <%= render 'partials/get-a-divorce-sidebar' %>
      <% elsif get_tasklist == 'civil' %>
        <%= render 'partials/end-a-civil-partnership-sidebar' %>
      <% end %>

      <% if false %>
        <% if override_sidebar %>
          <div class="child-topic-contents">
            <%= render partial: "sidebar", locals: {
              current_step_number: current_step_number,
              current_task_number: current_task_number
              } %>
          </div>
        <% else %>
          <%= render partial: 'govuk_component/taxonomy_sidebar', locals: taxonomy_sidebar %>
        <% end %>
      <% end %>
    </div>
  </div>
</main>
