<% content_for :head do %>
  <%= stylesheet_links_html %>
<% end %>

<% content_for :page_type do %>
  <%= page_type %>
<% end %>

<%= render partial: 'govuk_component/breadcrumbs',
    locals: {
        breadcrumbs: breadcrumbs,
        collapse_on_mobile: true
    } %>

<main <%= main_attributes %>>
  <%= content_html %>
  <div class="grid-row">
    <div class="column-two-thirds offset-one-third">

      <% if override_sidebar %>
        <%= render partial: 'task_nav', locals: { task_sidebar: task_sidebar } %>
      <% else %>
        <%= render partial: 'govuk_component/taxonomy_sidebar', locals: taxonomy_sidebar %>
      <% end %>
    </div>
  </div>
</main>
