<% content_for :head do %>
  <%= stylesheet_links_html %>
<% end %>

<% content_for :page_type do %>
  <%= page_type %>
<% end %>

<%= render partial: 'govuk_component/breadcrumbs',
    locals: {
        breadcrumbs: breadcrumbs,
        collapse_on_mobile: true
    } %>

<main <%= main_attributes %>>
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= content_html %>
    </div>
    <div class="column-third add-title-margin">
      <% if override_sidebar?(base_path: params[:base_path]) %>
      <aside class="govuk-taxonomy-sidebar" data-module="track-click" role="complementary">
      <div class="sidebar-taxon" data-track-count="sidebarTaxonSection">
        <h2>
          <a class="taxon-link" href="/services/learn-to-drive-a-car">Learn to drive a car</a>
        </h2>

        <p class="taxon-description">
          Find out what you need to do to drive a car in the UK.
        </p>
      </div>
  </aside>
      <% else %>
        <%= render partial: 'govuk_component/taxonomy_sidebar', locals: taxonomy_sidebar %>
      <% end %>
    </div>
  </div>
</main>
