<% content_for :head do %>
  <%= stylesheet_links_html %>
<% end %>

<% content_for :page_type do %>
  <%= page_type %>
<% end %>

<%= render partial: 'govuk_component/breadcrumbs',
    locals: {
        breadcrumbs: breadcrumbs,
        collapse_on_mobile: true
    } %>

<main <%= main_attributes %>>
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= content_html %>
    </div>
    <div class="column-third add-title-margin">
      <% if override_sidebar?(params[:base_path]) %>
        <% # TODO: ADD sidebar html here %>
      <% else %>
        <%= render partial: 'govuk_component/taxonomy_sidebar', locals: taxonomy_sidebar %>
      <% end %>
    </div>
  </div>
</main>
