<div class="pane-inner <%= page.lists.curated? ? 'curated-list' : 'a-to-z' %>">
  <h1 tabindex="-1"><%= page.title %></h1>

  <% page.lists.each_with_index do |list, index| %>
    <% if page.lists.curated? %>
      <h2 class='list-header'><%= list.title %></h2>
    <% else %>
      <p class="sort-order"><%= hairspace list.title %></p>
    <% end %>

    <ul>
      <% if override_browse_page?(params) && index.zero? %>
        <% override_browse_page_with(params).each do |link|%>
        <li>
          <a href="<%= link[:base_path] %>"><%= link[:title]%></a>
        </li>
        <% end %>

        <% if render_popular_list? %>
          <% list.contents.each_with_index do |list_item, list_index| %>
            <li><%= link_to list_item.title, list_item.base_path %></li>
          <% end %>
        <% end %>
      <% else %>
        <% list.contents.each_with_index do |list_item, list_index| %>
          <li><%= link_to list_item.title, list_item.base_path %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <% if page.related_topics.any? %>
    <div class="detailed-guidance">
      <h2>Detailed guidance</h2>
      <ul>
        <% page.related_topics.each do |related_topic| %>
          <li><%= link_to related_topic.title, related_topic.base_path %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
