<!DOCTYPE html>
<html>
  <head>
    <title>GovukNavPrototype</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :head %>
  </head>

	<body class="<%= yield :body_classes %>">
		<div class="wrapper" id="wrapper">
      <%= content_for?(:content) ? yield(:content) : yield %>
		</div>
  </body>
</html>
