<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - GOV.UK</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application" %>
    <script src="https://rawgit.com/alphagov/collections/master/app/assets/javascripts/support.js"/>
    <script src="https://rawgit.com/alphagov/collections/master/app/assets/javascripts/modules/current-location.js"/>
    <script src="https://rawgit.com/alphagov/collections/master/app/assets/javascripts/modules/accordion-with-descriptions.js"></script>
    <%= yield :head %>
  </head>

  <body>
  <div class="wrapper <%= yield :page_type %>" id="wrapper">
    <%= render partial: 'components/beta_banner' %>
    <%= yield :breadcrumbs %>
    <%= yield %>
  </div>
</body>
</html>
