<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - GOV.UK</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :head %>
  </head>

  <body>
  <div class="wrapper <%= yield :page_type %>" id="wrapper">
    <%= render partial: 'components/beta_banner' %>
    <%= yield :breadcrumbs %>
    <%= yield %>
  </div>
</body>
</html>
