<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - GOV.UK</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application" %>
    <script src="https://cdn.rawgit.com/alphagov/govuk_publishing_components/62b6dbe49564543f786e66d169c8fc7aa78f18ed/app/assets/javascripts/history-support.js"/>
    <script src="https://cdn.rawgit.com/alphagov/govuk_publishing_components/62b6dbe49564543f786e66d169c8fc7aa78f18ed/app/assets/javascripts/current-location.js"/>
    <%= yield :head %>
  </head>

  <body>
  <div class="wrapper <%= yield :page_type %>" id="wrapper">
    <%= render partial: 'components/beta_banner' %>
    <%= yield :breadcrumbs %>
    <%= yield %>
  </div>
</body>
</html>
