<!DOCTYPE html>
<html>
  <head>
    <title>GovukNavPrototype</title>
    <%= csrf_meta_tags %>

    <%# Remember to update this when things change live %>
    <%= stylesheet_link_tag 'https://assets.publishing.service.gov.uk/collections/application-d9c0352763402df07c779a5acd4a4da20b674277bd3acac7c8e8eedd26e32412.css' %>
    <%# Remember to update this when things change live %>
    <%= javascript_include_tag 'https://assets.publishing.service.gov.uk/collections/application-2e97a2e54aaf338452e4d6e1f8b7dbe55642b5b297c44fb66d4f41211ea13579.js' %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

	<body>
		<div class="wrapper" id="wrapper">
      <main id="content" role="main" class="content <%= yield :page_class %>">
				<%= yield %>
			</main>
		</div>
</html>
