<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - GOV.UK</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :head %>
  </head>

  <body>
<<<<<<< HEAD
  <div class="wrapper" id="wrapper">
    <%= render partial: 'components/beta_banner' %>
    
    <main id="content" role="main" class="content <%= yield :page_class %>">
      <%= yield %>
    </main>
  </div>
</body>
=======
    <div class="wrapper" id="wrapper">
      <%= render partial: 'components/beta_banner' %>
      <main role="main" class="content <%= yield :page_class %>">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
>>>>>>> 1a48ede... wip
