<% content_for :head do %>
  <%# Remember to update this when things change live %>
  <%= stylesheet_link_tag 'https://assets.publishing.service.gov.uk/collections/application-d9c0352763402df07c779a5acd4a4da20b674277bd3acac7c8e8eedd26e32412.css' %>
  <%# TODO: Render /home as a special case of content items, so remove this CSS include %>
  <%= stylesheet_link_tag 'https://assets.publishing.service.gov.uk/frontend/application-1e8573405392c48d48c7db08674897849d94632f9d8d6c1189e8d440cf1bef6b.css' %>

  <%# Remember to update this when things change live %>
  <%= javascript_include_tag 'https://assets.publishing.service.gov.uk/collections/application-2e97a2e54aaf338452e4d6e1f8b7dbe55642b5b297c44fb66d4f41211ea13579.js' %>
<% end %>

<% content_for :content do %>
  <main id="content" role="main" class="content <%= yield :page_class %>">
    <%= yield %>
  </main>
<% end %>

<%= render template: 'layouts/application' %>
